.button{
    margin: 0 auto;
    display:block;
    background: linear-gradient(to right, rgb(165, 165, 164), rgb(70, 70, 69));
    color: white;
    height: 25px;
    border-radius: 10px;
    border: none;
}
.button:hover {
    box-shadow: 10px 10px 10px rgb(146, 144, 144)
}