
.transaction-history {
    margin: 20px;
    width: 600px;
    border-radius: 10px;
    margin: 35px auto;
    border: 2px;
  }
  
  .transaction-history thead {
    text-align: center;
    background-color: rgb(13, 14, 14);
    height: 25px;
    color: white;
  }
  
  .transaction-history thead tr {
    text-transform: uppercase;
  }
  
  .transaction-history tbody {
    text-align: center;
  }
  
  .transaction-history tbody tr {
    height: 25px;
    background-color: white;
  }
  
  .transaction-history tbody tr td {
    text-transform: capitalize;
  }
  
  .transaction-history tbody tr:nth-child(odd) {
    background-color: rgba(128, 128, 128, 0.2);
  }
  
  
 
