.filter {
    width: 95%;
    border-radius: 5px;
    border: none;
}
.filter:hover {
    box-shadow:  4px 4px 4px rgba(0, 0, 0, 0.5);
    height: 30px;
}
.container {
width: 300px;
background-color: rgb(151, 154, 154);
padding-top: 10px;
padding-left: 20px;
padding-right: 20px;
display: block;
flex-direction: column;
border-radius: 10px;
margin-top: 50px;
box-shadow:  6px 6px 6px rgba(0, 0, 0, 0.5);
margin-left: auto;
margin-right: auto;
}
.header_contact {
text-shadow:  2px 2px 2px rgba(87, 85, 85, 0.8)
}