.friendlist {
    list-style: none;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 26px;
  }
  .item {
    background-color: #e1dddd;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    gap: 14px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    margin-bottom: 14px;
    border-radius: 40px;
  }
  .status {
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }
  .avatar {
    border-radius: 20%;
  }
 .name{
     color:black;
 }
 .friendlist .item .statusOn {
    border-radius: 50%;
    background-color:  rgba(0, 128, 0, 0.6);
    width: 20px;
    height: 20px;
    text-align: center;
    margin: 0 20px 0 10px;
  }
  
  .friendlist .item .statusOff {
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.6);
    width: 20px;
    height: 20px;
    text-align: center;
    margin: 0 20px 0 10px;
  }