.form {
    width: 300px;
    height: 250px;
    background-color: rgb(151, 154, 154);
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    box-shadow:  6px 6px 6px rgba(0, 0, 0, 0.5);
    }
    .header {
        margin-left: 40px;
        margin-bottom: 30px;
        text-shadow:  2px 2px 2px rgba(87, 85, 85, 0.8)
    }
    .label_name {
        text-shadow:  2px 2px 2px rgba(0, 0, 0, 0.5)
    }
    .input_name {
        margin-bottom: 10px;
        width: 95%;
        border-radius: 5px;
        border: none;
    }
    .label_number {
        text-shadow:  2px 2px 2px rgba(0, 0, 0, 0.5)
    }
    .input_number {
        width: 95%;
        border-radius: 5px;
        border: none;
    }
    .button{
        margin-top: 20px;
        width:100px;
        height: 30px;
        border-radius: 10px;
        border: none;
    }
    .button:hover {
        border: 2px solid grey;
        background-color: rgb(59, 58, 58);
        color:aliceblue;
        cursor:pointer
    }
    .input_number:hover{
        box-shadow:  4px 4px 4px rgba(0, 0, 0, 0.5);
        height: 30px;
        cursor:alias
    }
    .input_name:hover{
        box-shadow:  4px 4px 4px rgba(0, 0, 0, 0.5);
        height: 30px;
    }
    