.card {
    width: 300px;
    height: 450px;
    background-color: rgb(128, 138, 138);
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    box-shadow: 10px 5px 5px black;
}
.header {
    margin:0;
    margin-bottom:30px;
    padding-top: 50px;
    padding-left: 12px;
    font-size: 22px;
    text-transform: uppercase;
    text-shadow: 5px 5px 5px rgb(87, 83, 83);
}
.buttons{
    margin-top: 40px;
    display: flex;
    gap: 40px;
    margin-right: 0;
    margin-bottom: 30px; 
    padding-left: 30px;
    padding-right: 30px;
}
.button:hover{
    transform:  scale(1,2) rotate(360deg);
    transition: 500ms;
    border-radius: 20px;
}

.button{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border:none;
    background-color: rgba(243, 244, 243, 0.526);
    cursor:grab;
    text-shadow: 5px 5px 5px rgb(87, 83, 83);
    transition: 500ms;
}

.data{
    list-style-type: none;
    margin-top: 20px;
}
.data_hide{
    display:none
}
.title {
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 70px;
    margin-left: 40px;
    text-shadow: 5px 5px 5px rgb(87, 83, 83);
}
.statistic{
    margin-top: 30;
    margin-bottom: 20px;
    text-shadow: 5px 5px 5px rgb(87, 83, 83);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.notification {
    color: red;
  font-weight: 700;
  margin: 20px auto;
  text-align: center;
}